<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/chsBaseLayout (
        serviceName = 'efs', 
        moduleName = 'efs-submission', 
        phaseBanner='Alpha', phaseBannerNewContent='Yes', phaseBannerLink=${@environment.getProperty('banner.feedback.url')},
        headerText='Upload a document to Companies House', headerURL=${@environment.getProperty('start.page.url')}
      )}"
      >
</html>
