<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="guidance0">
    <p class="govuk-body" th:text="#{guidance.share.capital.reduction.documents}"></p>
    <p class="govuk-body" th:text="#{guidance.how.to.upload.documents.sh19.associated}"></p>
    <ul class="govuk-list govuk-list--bullet">
        <li th:text="#{guidance.how.to.upload.documents.sh19.associated.1}"></li>
        <li th:text="#{guidance.how.to.upload.documents.sh19.associated.2}"></li>
    </ul>
    <p class="govuk-body" th:text="#{dynamic.guidance.document.selection.share.capital.upload}"></p>
    <p class="govuk-inset-text" th:text="#{dynamic.guidance.document.selection.court.order}">
</p>
</body>
</html>