<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <title></title>
</head>
<body>
    <div th:fragment="howToUploadDocuments (include_para4)">
        <h2 class="govuk-heading-l" id="how-to-upload-documents" th:text="#{guidance.how.to.upload.documents}"></h2>
        <p class="govuk-body" th:text="#{guidance.how.to.upload.documents.para1}"></p>
        <p class="govuk-body" th:text="#{guidance.how.to.upload.documents.para2}"></p>
        <p class="govuk-body">
            <span th:text="#{guidance.how.to.upload.documents.para3}"></span>
            <span th:if="${include_para4}" th:text="#{guidance.how.to.upload.documents.para4}"></span>
        </p>
    </div>

    <div th:fragment="sh19">
        <h3 class="govuk-heading-m" th:text="#{guidance.how.to.upload.documents.sh19.heading}"></h3>
        <p class="govuk-body" th:text="#{guidance.how.to.upload.documents.sh19.associated}"></p>
        <ul class="govuk-list govuk-list--bullet">
            <li th:text="#{guidance.how.to.upload.documents.sh19.associated.1}"></li>
            <li th:text="#{guidance.how.to.upload.documents.sh19.associated.2}"></li>
        </ul>
        <p class="govuk-body" th:text="#{guidance.how.to.upload.documents.sh19.upload.soon}"></p>
        <p class="govuk-body">
            <span th:text="#{guidance.how.to.upload.documents.sh19.you.can}" th:remove="tag"></span>
            <a href="https://www.gov.uk/government/publications/life-of-a-company-event-driven-filings/life-of-a-company-part-2-event-driven-filings#share-capital" class="govuk-link" th:text="#{guidance.how.to.upload.documents.sh19.other.guidance}"></a>.</p>

        <h4 class="govuk-heading-s" th:text="#{guidance.how.to.upload.documents.sh19.standard.or.same.day}"></h4>
        <p class="govuk-body" th:text="#{guidance.how.to.upload.documents.sh19.standard.or.same.day.description}"></p>
        <p class="govuk-body" th:text="#{guidance.how.to.upload.documents.sh19.standard}"></p>
        <p class="govuk-body" th:text="#{guidance.how.to.upload.documents.sh19.same.day}"></p>

    </div>
</body>
</html>